/* Color palette: https://coolors.co/palette/e63946-f1faee-a8dadc-457b9d-1d3557 */

* {
  margin: 0;
}

header {
  height: 80px;
  font-family: "Courier New", Courier, monospace;
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  background-color: #1d3557;
  width: 45%;
  min-width: 300px;
  height: 30em;
  margin: 10px auto 0 auto;
  box-sizing: border-box;
}
.msg-container,
textarea {
  display: flex;
  justify-content: center;
  margin: 0 auto;
  width: 90%;
}
.msg-container {
  padding: 20px;
}
textarea {
  padding: 10px;
}
#msg-input {
  width: 200px;
  width: 60%;
}
#num-input {
  width: 20%;
}
.buttons {
  width: 20%;
  margin-left: 2px;
  border: none;
}
#decode-btn,
#encode-btn {
  color: white;
}
#decode-btn {
  background-color: #457b9d;
}
#encode-btn {
  background-color: #e63946;
}
.result {
  display: block;
  resize: none;
  max-width: 90%;
}
